@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  body {
    @apply bg-background text-text-primary font-sans;
    min-height: 100vh;
    margin: 0;
  }

  #root {
    min-height: 100vh;
  }
}
